@media (min-width: 581px) {
    .show-mobile {
    display: none!important;
}
}@media (max-width: 580px) {
    .show-mobile {
    display: block;
}
}@media (max-width: 580px) {
    .hide-mobile {
    display: none!important;
}
}@media (min-width: 1025px) {
    .show-tablet-down {
    display: none!important;
}
}@media (max-width: 1024px) {
    .show-tablet-down {
    display: block;
}
}@media (max-width: 1024px) {
    .hide-tablet-down {
    display: none!important;
}
}.hide {
    display: none!important;
}
.page-story {
    background: #FFD9FE;
    color: #fff;
    padding-bottom: 12rem;
}
.page-story .marquee-text span {
    color: #4a4a4a;
}
@media (max-width: 580px) {
    .page-story {
    padding-bottom: 6rem;
}
}.page-story header .intro-blocks {
    margin-bottom: 5.6rem;
}
.page-story header .intro-blocks .left-block {
    margin-bottom: 3rem;
}
.page-story header .intro-blocks .middle-block {
    margin-bottom: 3rem;
    width: 100%}
.page-story header .intro-blocks .middle-block img {
    margin-left: auto;
    margin-right: auto;
    width: 100%}
.page-story header .intro-blocks .middle-block .cropped-image-wrapper {
    padding-bottom: 138%}
@media (min-width: 1025px) {
    .page-story header .intro-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-story header .intro-blocks .left-block {
    width: 29.7rem;
    align-self: flex-start;
}
.page-story header .intro-blocks .middle-block {
    max-width: 35.5rem;
    align-self: center;
    padding-top: 5.4rem;
    padding-bottom: 6rem;
}
.page-story header .intro-blocks .right-block {
    width: 29.9rem;
    align-self: flex-end;
}
}@media (max-width: 1024px) and (min-width: 581px) {
    .page-story header .intro-blocks {
    margin-bottom: 8rem;
}
.page-story header .intro-blocks .left-block {
    max-width: 45rem;
}
.page-story header .intro-blocks .middle-block {
    max-width: 34.5rem;
    margin-left: auto;
    margin-right: auto;
}
.page-story header .intro-blocks .right-block {
    max-width: 44rem;
    margin-left: auto;
}
}@media (max-width: 580px) {
    .page-story header .intro-blocks {
    margin-bottom: 5.2rem;
}
}.page-story .call-out {
    color: #4a4a4a;
    margin-bottom: 9rem;
}
@media (max-width: 1024px) and (min-width: 581px) {
    .page-story .call-out {
    margin-bottom: 8rem;
}
}@media (max-width: 580px) {
    .page-story .call-out {
    margin-bottom: 5.2rem;
}
}.page-story .call-out sup {
    font-size: inherit;
    position: static;
}
.page-story .call-out.loaded sup {
    font-size: 3rem;
    letter-spacing: -.005rem;
    position: relative;
    top: -2.1rem;
    left: -.1em;
}
@media (max-width: 1024px) and (min-width: 581px) {
    .page-story .call-out.loaded sup {
    font-size: 2rem;
    letter-spacing: -.005rem;
    position: relative;
    top: -1.2rem;
    left: -.1em;
}
}@media (max-width: 580px) {
    .page-story .call-out.loaded sup {
    font-size: 1.2rem;
    letter-spacing: -.005rem;
    position: relative;
    top: -1rem;
    left: -.1em;
}
}.page-story .letter-section .inner {
    max-width: 94.8rem;
    margin-left: auto;
    margin-right: auto;
}
.page-story .circle-callout {
    width: 36.4rem;
    height: 36.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 4.5rem;
    text-align: center;
    margin-bottom: 8.2rem;
}
@media (max-width: 1024px) {
    .page-story .circle-callout {
    width: 29rem;
    height: 29rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3.4rem;
    margin-bottom: 6rem;
}
}@media (max-width: 580px) {
    .page-story .circle-callout {
    margin-bottom: 5rem;
}
}@media (max-width: 1024px) {
    .page-story .circle-callout [class*=body-sans-3] {
    font-size: 1.2rem;
}
}.page-story .circle-callout .icon {
    margin-bottom: 1.2rem;
    margin-top: 3rem;
}
.page-story .circle-callout .icon img {
    width: 6rem;
}
.page-story .circle-callout:nth-of-type(1) .icon img {
    width: 8rem;
}
.animated-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.animated-circle circle {
    stroke-dashoffset: 1500;
    stroke-dasharray: 1500;
}
.js-animate .animated-circle circle {
    animation: dash 1s linear 1 forwards;
}
@keyframes dash {
    to {
    stroke-dashoffset: 0;
}
}.page-story .signature {
    margin-top: 5.5rem;
}
@media (max-width: 580px) {
    .page-story .signature {
    margin-top: 4rem;
}
}.page-story .signature img {
    max-width: 27rem;
}
@media (min-width: 1025px) {
    .page-story .signature img {
    margin-left: auto;
    margin-right: auto;
}
}@media (max-width: 580px) {
    .page-story .signature img {
    max-width: 20rem;
}
}
.container {
    max-width: none;
}
.call-out {
    font-size: 5.5rem !important;
    letter-spacing: -.010rem !important;
}
@media (max-width: 748px) {
    .call-out {
        font-size: 2.5rem !important;
    }
}

[class*="body-sans-3"] {
    font-size: 1.45rem;
}