<header class="de-home-hero js-animate" data-trigger="scroll">
    <div class="de-promo de-small-caps">
        <div class="de-inner">
            <p><strong>ENJOY FREE GROUND SHIPPING ON ALL ORDERS! PLUS, ORDERS $200+ GET 2-DAY SHIPPING - ON
                    US!</strong></p>
        </div>
    </div>
    <div class="js-quote de-quote de-body-sans-3" style="top: 166px;">
        <span style="display: inline;">
                Keep your friends close, and your moisturizer closer.
            </span>
    </div>
    <div [@openClose]="true" class="de-gradient-box de-animated-gradient"
        style="background-image: linear-gradient(120deg, #fff8a7, #f48efa);">
        <div class="de-inner"></div>
    </div>
    <div class="de-collage-wrapper">
        <div class="de-large-image">
            <a href="https://www.drunkelephant.com/collections/masks/bouncy-brightfacial%E2%84%A2-194249400704.html">
                <div  style="background-color: #87e873;" [@swipeDown]="true" class="de-sliding-img-wrapper " >
                    <div   class="de-img-slide-bg" ></div>
                    <div [@slideUp]="true" class="de-cropped-image-wrapper">
                        <img src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dwa1bd0ab4/hp/2022/Brightfacial_HPH_1400x950px.jpg"
                            class=" lazyloaded" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="de-small-image">
            <a href="https://www.drunkelephant.com/collections/masks/bouncy-brightfacial%E2%84%A2-194249400704.html">
                <div class="de-sliding-img-wrapper "  style="background-color: #fb48c4" [@swipeLeft]="true">
                    <div class="de-img-slide-bg"></div>
                    <div [@slideLeft]="true" class="de-cropped-image-wrapper">
                        <img src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dw9ea5f191/hp/2022/Brightfacial_HPH_500px.jpg"
                            data-src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dw9ea5f191/hp/2022/Brightfacial_HPH_500px.jpg"
                            class=" lazyloaded" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>