<div class="de-marquee-text de-en">
    <a href="https://www.drunkelephant.com/collections/refills/">
        <div class="de-marquee__inner de-super-slow" aria-hidden="true">
            <span>An Inside Job</span>
            <span aria-hidden="true">An Inside Job</span>
            <span aria-hidden="true">An Inside Job</span>
            <span aria-hidden="true">An Inside Job</span>
            <span aria-hidden="true">An Inside Job</span>
        </div>
    </a>
</div>
<div [@slideUp]="true" >
<div  class="de-collection-description">
    Partners in cream are now partners in refillability.

<div  class="de-link-wrapper" >
    <a href="https://www.drunkelephant.com/collections/refills/" class="de-btn--lined de-line-link" aria-label="Drunk Elephant's Silaminos Collection">
        REFILL ’ER UP
        </a>
</div>
</div>
</div>
