<!doctype html>

<html lang="en">

<head>


  <title>Drunk Elephant | Biocompatible Skincare</title>
  <input type="hidden" id="trackgatedevent" value="null" />

 
  










</head>

<body>
  <div id="container" class="de de-home de-template-index">

    <div class="html-slot-container">
      <div class="de-sh-popup-wrapper de-sh-popup-wrapper--rect promo-popup" id="sh-promo-popup">
        <button type="button" class="js-close-sh-popup de-close-sh-email-popup-button de-text-only"
          aria-label="close popup">
          <svg aria-hidden="true" focusable="false" role="presentation" class="de-icon de-icon-close"
            viewBox="0 0 24 24">
            <path class="de-update-fill" fill="#FFF" fill-rule="evenodd"
              d="M13.39 12L23.743 1.523a.9.9 0 0 0 0-1.262.875.875 0 0 0-1.247 0L11.999 10.884 1.504.261a.875.875 0 0 0-1.247 0 .903.903 0 0 0 0 1.262L10.607 12 .256 22.477a.903.903 0 0 0 0 1.262.875.875 0 0 0 1.247 0L12 13.115l10.496 10.624a.875.875 0 0 0 1.247 0 .9.9 0 0 0 0-1.262L13.391 12z">
            </path>
          </svg>
        </button>

        <h5 class="de-sh-popup-wrapper-heading">You pick the smoothie, we’ll pick up the tab!</h5>
        <br>
        <br>
        <p class="de-sh-popup-wrapper-exception">Pick your own D-Bronzi smoothie bag with any order over $65—on
          us!</p>
        <br>
        <br>
        <button type="button" class="de-btn de-sh-popup-wrapper-cta"
          data-href="https://www.drunkelephant.com/collections/skincare/">
          <span class="de-btn-text">
            Shop
          </span>
        </button>
        <br>
        <br>
        <br>
        <br>
        <p class="de-sh-popup-wrapper-moreinfo">* Available on orders over $65 (after discounts but before taxes
          and shipping). Customers can select smoothie bag of their choice on qualifying orders. Offerings
          subject to change based on availability. Limit one per order/per person. Limited quantities
          available while supplies last.</p>
      </div>
  
      <a href="collections/skincare/index.html">
        <div class="js-promo-bar de-promo-bar js-open-sh-popup" data-popup-name="sh-promo-popup">
          <div class="de-desc">
            <p>Pick your own D-Bronzi smoothie bag with any order over $65—on us!</p>
          </div>
        </div>
      </a>
    </div>
    <div class="js-close-sh-popup de-close-sh-popup-overlay"></div>
    <button type="button" class="js-close-sh-popup de-close-sh-email-popup-button de-text-only" aria-label="close popup"
      tabindex="-1">
      <svg aria-hidden="true" focusable="false" role="presentation" class="de-icon de-icon-close" viewBox="0 0 24 24">
        <path class="de-update-fill" fill="#FFF" fill-rule="evenodd"
          d="M13.39 12L23.743 1.523a.9.9 0 0 0 0-1.262.875.875 0 0 0-1.247 0L11.999 10.884 1.504.261a.875.875 0 0 0-1.247 0 .903.903 0 0 0 0 1.262L10.607 12 .256 22.477a.903.903 0 0 0 0 1.262.875.875 0 0 0 1.247 0L12 13.115l10.496 10.624a.875.875 0 0 0 1.247 0 .9.9 0 0 0 0-1.262L13.391 12z">
        </path>
      </svg>
    </button>
    <div class="js-search-bar de-search-bar" id="search-bar-wrapper" tabindex="-1">
      <div class="de-top-bar de-container hide" id="search-bar">
        <div class="de-inner">
          <button type="button" class="js-close-search-bar de-close-search-button de-text-only"
            aria-label="Close Search Bar">
            <svg aria-hidden="true" focusable="false" role="presentation" class="de-icon de-icon-close"
              viewBox="0 0 24 24">
              <path class="de-update-fill" fill="#FFF" fill-rule="evenodd"
                d="M13.39 12L23.743 1.523a.9.9 0 0 0 0-1.262.875.875 0 0 0-1.247 0L11.999 10.884 1.504.261a.875.875 0 0 0-1.247 0 .903.903 0 0 0 0 1.262L10.607 12 .256 22.477a.903.903 0 0 0 0 1.262.875.875 0 0 0 1.247 0L12 13.115l10.496 10.624a.875.875 0 0 0 1.247 0 .9.9 0 0 0 0-1.262L13.391 12z">
              </path>
            </svg>
          </button>
          <form role="search" class="suppress" action="https://www.drunkelephant.com/search" method="get"
            name="simpleSearch" autocomplete="off">
            <fieldset>
              <legend class="visually-hidden">
                search
              </legend>
              <div class="search-tab">
                <div class="field-button-container">
                  <label for="q" class="search-icon-label">
                    <div class="search-icon">
                      <svg focusable="false" role="presentation" class="de-icon de-icon-search" viewBox="0 0 18 18">
                        <title>Search within this site</title>
                        <g class="de-replace-stroke" fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="1"
                          transform="rotate(7 1.325 8)">
                          <circle cx="6.868" cy="6.214" r="6"></circle>
                          <path stroke-linecap="round" d="M18.024 14.64l-6.173-4.406"></path>
                        </g>
                      </svg>
                    </div>
                  </label>
                  <input class="js-search search-inactive" type="text" id="q" name="q"
                    placeholder="What are you looking for?" autocomplete="off" spellcheck="false"
                    aria-describedby="search-instructions" />
                  <div class="sr-only" id="suggestions-count" aria-role="alert" aria-live="assertive">
                  </div>
                  <div id="search-instructions" class="sr-only">You can use the tab key (or swipe left
                    or right on your mobile device) to access the suggestions given as you type or
                    submit this form to search for the keyword you have entered.</div>
                  <button type="submit" value="GO" aria-label="search" class="de-search-submit-btn"></button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="header-searchresult small-12 shi-height-auto shi-pos--rel"
      data-search-url="/on/demandware.store/Sites-drunkelephant_us-Site/en_US/Search-GetHeaderSearchFlyoutContent">
    </div>
    <div data-section-id="header" data-section-type="header-section">
      <a id="skip-navigation" href="#back-to-navigation"
        class="visually-hidden sr-only sr-only-focusable skip-link">Skip to main content</a>
      <div class="de-nav-placeholder">
        <div class="de-nav-wrapper" role="de-banner">
          <div class="de-container-full de-inner de-split-aligner">

            <button class="de-hamburger de-text-only" aria-label="Open Flyout Navigation" aria-expanded="false"
              aria-controls="hamburger-menu"> <span></span> <span></span>
              <span></span> </button>

            <div class="de-logo-wrapper">
              <a href="index.html">
                <img src="/src/assets/on/demandware.static/Sites-drunkelephant_us-Site/-/default/dw03a3b363/images/Group_33.svg"
                  alt="Drunk Elephant Text Logo" class="de-text-logo">
                <img
                  src="/src/assets/on/demandware.static/Sites-drunkelephant_us-Site/-/default/dwb1e58e01/images/logo_f6e20a96-f6a9-46a9-92fc-11980f702dcd.svg"
                  alt="Drunk Elephant Image Logo" class="de-logo-icon">
              </a>
            </div>
            <div class="de-right-nav">

              <div class="de-nav-search">
                <button type="button" class="js-open-search-bar de-btn de-text-only" aria-label="Open Search Form">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="de-icon de-icon-search"
                    viewBox="0 0 18 18">
                    <g class="de-replace-stroke" fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="1.5"
                      transform="rotate(7 1.325 8)">
                      <circle cx="6.868" cy="6.214" r="6"></circle>
                      <path stroke-linecap="round" d="M18.024 14.64l-6.173-4.406"></path>
                    </g>
                  </svg>
                  <span class="de-icon-fallback-text">What are you looking for?</span> </button>
              </div>

              <div id="mini-cart" class="de-nav-cart-link">


                <div class="mini-cart-total">
                  <a href="cart.html" data-cart-view="data-cart-view"
                    class="de-cart-icon mini-cart-link mini-cart-empty inactiveLink" aria-label="open cart"
                    title="Your cart is empty">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="de-icon de-icon-cart"
                      viewBox="0 0 18 18">
                      <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linejoin="round" stroke-width="1.5">
                        <path d="M1 17h16l-1.993-9H3.011z"></path>
                        <path stroke-linecap="round" d="M6 9V4.713C6 2.009 7.605 1 9.029 1S12 2.102 12 4.713V9"></path>
                      </g>
                    </svg>
                    <span class="minicart-quantity">
                      <span class="visually-hidden">Quantity of items in cart is</span>
                      <span class="minicart-qty-value">0</span>
                    </span>
                  </a>
                </div>
                <input type="hidden" name="eligible-for-sample" value="null" />
              </div>

              <span class="account-icon-wrapper">
                <a href="my-account/login.html" class="de-account-link" aria-label='Login'>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="de-icon de-icon-account"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                    <g stroke-width="1.5" transform="translate(1)" stroke="#FFF" fill="none" fill-rule="evenodd">
                      <circle cx="5.449" cy="3.5" r="2.75"></circle>
                      <path d="M0 11.019C.41 9.314 1.95 6.83 5.45 6.83s4.817 2.272 5.658 4.188" stroke-linecap="round">
                      </path>
                    </g>
                  </svg>
                  <span class="de-hide sign-text"> Sign In/Register</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="js-close-flyout de-close-nav-flyout" tabindex="-1"></div>
      <nav role="navigation" class="de-flyout-nav hide" id="hamburger-menu">
        <button class="js-close-flyout de-close-button" aria-label="Close Navigation"> <span></span>
          <span></span> </button>
        <ul class="de-flyout-wrap">
          <p value="Drunk Elephant US"></p>
          <li class="de-show-mobile my-account-link-item">
            <a href="my-account/login.html" class="de-account-link" aria-label='Login'>
              <svg aria-hidden="true" focusable="false" role="presentation" class="de-icon de-icon-account"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                <g stroke-width="1.5" transform="translate(1)" stroke="#FFF" fill="none" fill-rule="evenodd">
                  <circle cx="5.449" cy="3.5" r="2.75"></circle>
                  <path d="M0 11.019C.41 9.314 1.95 6.83 5.45 6.83s4.817 2.272 5.658 4.188" stroke-linecap="round">
                  </path>
                </g>
              </svg>
              <span class="de-hide sign-text"> Sign In/Register</span>
            </a>
          </li>
          <li><a href="index.html" class="de-childless"><span>home</span></a></li>
          <li> <a href="collections/skincare/index.html" class="de-parent" data-related-submenu="Skin Care"
              data-collection="products-allproducts-skincare"> <span>Skin Care</span></a></li>
          <ul>
            <div class="de-submenu" data-expanded="false" data-submenu="Skin Care">
              <li><a href="collections/skincare/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-skincare"> <span>all
                    Skin Care</span> </a>
              </li>
              <li><a href="collections/moisturizers/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-skincare-moisturizers">
                  <span>Moisturizers</span> </a></li>
              <li><a href="collections/serums/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-skincare-serums">
                  <span>Serums</span> </a>
              </li>
              <li><a href="collections/masks/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-skincare-masks">
                  <span>Masks +
                    Treatments</span> </a></li>
              <li><a href="collections/cleansers/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-skincare-cleansers">
                  <span>Cleansers</span>
                </a></li>
              <li><a href="collections/sun-protection/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-skincare-sun-protection"> <span>Sun
                    Protection</span> </a></li>
              <li><a
                  href="products-allproducts/products-allproducts-skincare/products-allproducts-skincare-eye-treatments/index.html"
                  class="js-filter-submenu" role="button" aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-skincare-eye-treatments"> <span>Eyes +
                    Lips</span> </a></li>
              <li><a href="collections/on-the-go-minis/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-skincare-on-the-go-minis"> <span>On-The-Go
                    Midis + Littles</span> </a></li>
            </div>
          </ul>
          <li> <a href="collections/hair-collection/index.html" class="de-parent" data-related-submenu="Hair Care"
              data-collection="products-allproducts-haircare"> <span>Hair
                Care</span></a></li>
          <ul>
            <div class="de-submenu" data-expanded="false" data-submenu="Hair Care">
              <li><a href="collections/hair-collection/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-haircare"> <span>all
                    Hair Care</span> </a>
              </li>
              <li><a href="collections/shampoos/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-haircare-shampoos">
                  <span>Shampoos</span> </a>
              </li>
              <li><a href="collections/conditioners/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-haircare-conditioners">
                  <span>Conditioners</span> </a></li>
              <li><a href="collections/treatments/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-haircare-treatments">
                  <span>Treatments</span>
                </a></li>
              <li><a href="collections/stylings/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-haircare-leave-in-styling"> <span>Leave-In +
                    Styling</span> </a></li>
              <li><a href="collections/on-the-go-hair-midis/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-haircare-on-the-go-hair-midis">
                  <span>On-the-go Hair Midis</span> </a></li>
            </div>
          </ul>
          <li> <a href="collections/body-collection/index.html" class="de-parent" data-related-submenu="Body Care"
              data-collection="products-allproducts-bodycare"> <span>Body
                Care</span></a></li>
          <ul>
            <div class="de-submenu" data-expanded="false" data-submenu="Body Care">
              <li><a href="collections/body-collection/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-bodycare"> <span>all
                    Body Care</span> </a>
              </li>
              <li><a href="collections/body-cleansers/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-bodycare-cleansers">
                  <span>Cleansers</span>
                </a></li>
              <li><a href="collections/lotions/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-bodycare-lotions">
                  <span>Lotions</span> </a>
              </li>
              <li><a href="collections/exfoliants-scrubs/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-bodycare-exfoliants-scrubs"> <span>Exfoliants
                    + Scrubs</span> </a></li>
              <li><a href="collections/deodorants/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel" data-collection="products-allproducts-bodycare-deodorants">
                  <span>Deodorants</span>
                </a></li>
              <li><a href="collections/on-the-go-body-midis/index.html" class="js-filter-submenu" role="button"
                  aria-controls="shoppable-right-nav-panel"
                  data-collection="products-allproducts-bodycare-on-the-go-body-midis">
                  <span>On-the-go Body Midis</span> </a></li>
            </div>
          </ul>
          <li> <a href="collections/bestsellers/index.html" class="de-childless"> <span>Best
                Sellers</span></a></li>
          <li> <a href="collections/gifts-and-kits/index.html" class="de-childless"> <span>Gifts +
                Kits</span></a></li>
          <li> <a href="drunk-elephant-digital-gift-cards-GiftCardDE_US.html" class="de-childless"> <span>Gift
                Card</span></a></li>
          <li> <a href="drunk-life.html" class="de-childless"> <span>Drunk Life</span></a></li>
          <li> <a href="philosophy/index.html" class="de-childless"> <span>Our Philosophy</span></a></li>
          <li> <a href="smoothie-glossary/index.html" class="de-childless"> <span>Smoothie Glossary</span></a>
          </li>
          <li> <a href="blogs/the-drunk-mag/index.html" class="de-childless"> <span>The Drunk Mag</span></a>
          </li>
        </ul>
      </nav>
      <nav role="navigation" class="js-shoppable-nav de-shoppable-nav de-hide-mobile" tabindex="-1"
        data-showing="false">
        <button class="js-close-flyout de-close-button de-show-mobile" aria-label="Close Navigation">
          <span></span> <span></span> </button>
        <button class="js-close-shoppable-nav de-back-button de-show-mobile" aria-label="Close Shoppable Nav Panel">
          <svg aria-hidden="true" focusable="false" role="presentation" class="de-icon de-icon-back-arrow"
            viewBox="0 0 14 24">
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h24v24H0z"></path>
              <path class="de-change-fill" fill="#5B5D62"
                d="M2.519 12L12.87 1.523a.9.9 0 0 0 0-1.262.875.875 0 0 0-1.247 0L1.127 10.884 0 12l1.127 1.115 10.496 10.624a.875.875 0 0 0 1.247 0 .9.9 0 0 0 0-1.262L2.52 12z">
              </path>
            </g>
          </svg>
        </button>
        <div class="js-shoppable-nav-panel de-shoppable-nav-panel" id="shoppable-right-nav-panel" data-collection="">
        </div>
      </nav>
    </div>
    <div id="create-wishlist-cntr" class="reveal no-border" data-reveal data-animation-in="fade-in">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true"><i class="icon-close"></i></span>
      </button>
      <div class="modal-body">
      </div>
    </div>
    <div id="add-wishlist-cntr" class="reveal no-border" data-reveal data-animation-in="fade-in">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true"><i class="icon-close"></i></span>
      </button>
      <div class="modal-body">
      </div>
    </div>
    <a id="back-to-navigation" href="#skip-navigation" class="visually-hidden sr-only sr-only-focusable skip-link">Back
      to main navigation</a>
    <a id="topScrollSection" class="sr-only sr-only-focusable" href="#bottomScrollSection" tabindex="-1"
      aria-label="Scroll to bottom of page">Scroll to bottom</a>
    <div id="browser-check">
      <noscript>
        <div class="browser-compatibility-alert">
          <i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
          <p class="browser-error">Your browser's Javascript functionality is turned off. Please turn it on so
            that you can experience the full capabilities of this site.</p>
        </div>
      </noscript>
    </div>

    <main id="main" class="">
      <h1 class="visually-hidden sr-only">Drunk Elephant | Skincare, Haircare, Bodycare & more..</h1>

      <header class="de-home-hero" data-trigger="scroll">
        <div class="de-promo de-small-caps">
          <div class="de-inner">
            <p><strong>ENJOY FREE GROUND SHIPPING ON ALL ORDERS! PLUS, ORDERS $200+ GET 2-DAY SHIPPING - ON
                US!</strong></p>
          </div>
        </div>
        <div class="js-quote de-quote de-body-sans-3">
          <span>
            Keep your friends close, and your moisturizer closer.
          </span>
        </div>
        <div class="de-gradient-box de-animated-gradient">
          <div class="de-inner"></div>
        </div>
        <div class="de-collage-wrapper">
          <div class="de-large-image">
            <a href="collections/masks/bouncy-brightfacial%e2%84%a2-194249400704.html">
              <div class="de-sliding-img-wrapper " data-swipe-dir="down" data-slide-origin="bottom" data-shape="square"
                data-slide-order="1">
                <div class="de-img-slide-bg" style="background-color: #87e873"></div>
                <div class="de-cropped-image-wrapper">
                  <img src="#"
                    data-src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dwa1bd0ab4/hp/2022/Brightfacial_HPH_1400x950px.jpg"
                    class="lazyload" alt="">
                </div>
              </div>
            </a>
          </div>
          <div class="de-small-image">
            <a href="collections/masks/bouncy-brightfacial%e2%84%a2-194249400704.html">
              <div class="de-sliding-img-wrapper " data-swipe-dir="right" data-slide-origin="right" data-shape="square"
                data-slide-order="2">
                <div class="de-img-slide-bg" style="background-color: #fb48c4"></div>
                <div class="de-cropped-image-wrapper">
                  <img src="#"
                    data-src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dw9ea5f191/hp/2022/Brightfacial_HPH_500px.jpg"
                    class="lazyload" alt="">
                </div>
              </div>
            </a>
          </div>
        </div>


  </header>
  </main>

  </div>


</body>

</html>








