
<section (appear)="onAppear()"   class="de-featured-squares de-left-spacer js-animate"
    >
    <div class="de-featured-row" *ngIf="hasAppeared" >
        <div class="de-image-col">
            <div class="de-sliding-bg" style="background-color: #b1def1" [@slideRight]="true"></div>
            <div class="de-arrow-down" aria-hidden="true" style="border-top-color: #b1def1"></div>
            <a [@slideUp]="true" href="https://www.drunkelephant.com/collections/skincare/" >
                <div class="de-cropped-image-wrapper">
                    <img src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dw489eee36/hp/2023/Smoothie-Promo_95+_TC_1080px_300dpi-01.gif"
                        data-src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dw489eee36/hp/2023/Smoothie-Promo_95+_TC_1080px_300dpi-01.gif"
                        class=" lazyloaded" alt="drunk break kits">
                </div>
            </a>
        </div>
        <div class="de-text-col de-v-aligner ">
            <div class="de-sliding-bg" style="background-color: #b1f900" [@slideDown]="true"></div>
            <div class="de-arrow-down" aria-hidden="true" style="border-top-color: #b1f900"></div>
            <div [@slideUpText]="true">
                <a href="https://www.drunkelephant.com/collections/skincare/" >
                    <h2 class="de-h2-sans--bold">You Pick ’Em</h2>
                </a>
                <div class="de-desc body-sans-1"  >
                    Spend $95+ and pick the smoothie bag of your choice—we’ll pick up the tab!
                </div>
                <div  >
                    <a href="https://www.drunkelephant.com/collections/skincare/"
                        class="de-btn--lined de-line-link de-body-sans-2">Shop</a>
                </div>
            </div>
        </div>
    </div>
</section>








<section (appear)="onAppear2()"   class="de-featured-squares de-left-spacer js-animate" >
    <div class="de-featured-row "  >
        
        <div class="de-text-col de-v-aligner" *ngIf="hasAppeared2" >
            <div class="de-sliding-bg" style="background-color: #ffef00" [@slideDown]="true"></div>
            <div class="de-arrow-down" aria-hidden="true" style="border-top-color: #ffef00"></div>
            <div [@slideUpText]="true">
                <a href="https://www.drunkelephant.com/collections/gifts-and-kits/early-bird-%28%2473-value%29-194249404658.html"
                     >
                    <h2 class="de-h2-sans--bold">Wake Up on the Bright Side</h2>
                </a>
                <div class="de-desc body-sans-1"  >
                    Make your skin as dewy and bright as the morning itself.
                </div>
                <div  >
                    <a href=" https://www.drunkelephant.com/collections/gifts-and-kits/early-bird-%28%2473-value%29-194249404658.html"
                        class="de-btn--lined de-line-link de-body-sans-2">Shop</a>
                </div>
            </div>
        </div>
        <div class="de-image-col " >
            <div class="de-sliding-bg" *ngIf="hasAppeared2" style="background-color: #e8dde8" [@slideRight]="true"></div>
            <div class="de-arrow-down" aria-hidden="true" style="border-top-color: #e8dde8"></div>
            <a [@slideUp]="true" *ngIf="hasAppeared2"
                href="https://www.drunkelephant.com/collections/gifts-and-kits/early-bird-%28%2473-value%29-194249404658.html"
                 data-anim-order="1">
                <div class="de-cropped-image-wrapper">
                    <img src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dw43be7c9e/hp/2023/Early-Bird_Creative_09.jpg"
                        data-src="https://www.drunkelephant.com/on/demandware.static/-/Sites-drunkelephant_us-Library/default/dw43be7c9e/hp/2023/Early-Bird_Creative_09.jpg"
                        class=" lazyloaded" alt="The Big Time">
                </div>
            </a>
        </div>
    </div>
</section>